{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="form-signin w-100 m-auto justify-content-center">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<h1 class="h3 mb-3 fw-normal text-primary mt-1">Please sign in</h1>


			<div class="form-floating">
				<input type="email" value="{{ last_username}}" name="email" class="form-control rounded-pill px-3" id="inputEmail" autocomplete="email" required autofocus>
				<label for="inputEmail">Email :</label>
			</div>

			<div class="form-floating">
				<input type="password" name="password" class="form-control rounded-pill px-3" id="inputPassword" autocomplete="current-password" 
				data-placement="top" data-toggle="tooltip" title="8 caracters numeric and alphanumeric" data-trigger="hover" required>
				<label for="inputPassword">Password :</label>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn btn-info rounded-pill px-3 w-100 py-2" type="submit">Sign in</button>
		</form>
			<p class="mt-3 mb-3 text-body-secondary"><a href="{{ path('app_forgot_password_request')}}" 
			class="btn btn-sm btn-outline-warning rounded-pill px-3 mt-1 d-flex justify-content-center ">Forgotten password ?</a></p>
	</div>
{% endblock %}
