{% extends 'base.html.twig' %}

{% block title %}Reset password
{% endblock %}

{% block body %}
    <div class="row">
	<div class="col-md-3">
		{% block side %}
        {% include("/reset_password/_side_request_password.html.twig") %}
		{% endblock %}
	</div>
	<div class="col-md-9">
		{% block center %}
	{% include("/reset_password/_request_password_form.html.twig") %}
		{% endblock %}
	</div>
    </div>
{% endblock %}