{% extends 'base.html.twig' %}

{% block title %}{{ user.surname | capitalize }} {{ user.name | capitalize }}
{% endblock %}

{% block body %}
    <div class="row">
	<div class="col-md-3">
		{% block side %}
        {% include("pages/user/_side_show.html.twig") %}
		{% endblock %}
	</div>
	<div class="col-md-9">
		{% block center %}
	{% include("pages/user/_show_user.html.twig") %}
		{% endblock %}
	</div>
    </div>
{% endblock %}